body {
    padding: 2em;
    background: #222;
    color: #fff;
}
main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 0;
}
main column {
    width: 40%;
}
button {
    font-size: 130%;
}

textarea {
    width: 100%;
    height: 6em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: #555;
    color: #fff;
}
details.tree {
    border-left: 1px solid #444;
    margin-left: 1em;
    position: relative;
}
details.tree > summary {
    margin-left: -5px;
}
details.tree.added > summary {
    color: #0a0;
    font-weight: bold;
}
details.tree:has(details.added) > summary {
    color: #990;
    font-weight: bold;
}
details.tree.added:has(details.added) > summary {
    color: #0a0;
}


summary.tree {
    cursor: pointer;
    list-style: none;
}
details.tree.leaf summary.tree {
    cursor: default;
}


summary.tree::marker, summary::-webkit-details-marker {
    display: none;
}
summary.tree::before {
    content: "+";
    display: inline-block;
    font-family: monospace;
    white-space: pre;
    z-index: 3;
    width: 1em;
    height: 1em;
    margin-top: -0.4em;
    margin-bottom: -0.4em;
    border-top: 0.4em solid #222;
    border-bottom: 0.4em solid #222;
    background-color: #222;
}
details.tree.leaf summary.tree::before {
    content: " ";
    visibility: hidden;
}


details.tree[open] > summary.tree::before {
    content: "- ";
}

summary.header {
    font-size: 120%;
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}
summary.header span {
    color: #aaa;
}
summary.header span::before {
    content: " (+";
}
summary.header span::after {
    content: ")";
}
.header > details {
    margin-left: 1.5em;
}
summary.header + i {
    margin-left: 1.5em;
}